/* CONTEM AS BRUXAS ANIMADAS imagem de fundo*/
body{
    background:linear-gradient(#fe6500,#fe6500);
    min-height:100vh;
    overflow:hidden;
    margin: 0px;
    padding: 0px;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.jd__inner{
    width:728px;
    height:486px;
    position:absolute;
    top:80px;
    left:0;
    background:radial-gradient(620px 620px ellipse at 0 center, #a90e0e, #ff0000 520px, transparent 521px), #330000;
}
canvas{
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
}
.jd__wave{
    position:relative;
    width:100%;
    height:100vh;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.jd__inner__wave{
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 100%;
    
}
/*
.jd__wave1{
    width:100%;
    height:100vh;
    position:absolute;
}
/* imagem de fundo */
.sec1
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(https://xatimg.com/image/eemoNp3eoe3Q.png);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.db2
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.ghost1
{
    position: absolute;
    bottom: -100px;
    left: -100px;
    animation: move-ghost1 20s linear infinite;
}
@keyframes move-ghost1 
{ 
    0%
    {
        transform: translate(0,0);
    }
    30%
    {
        transform: translate(2100px, -1000px);
    }
    60%
    {
        transform: translate(2100px, -1000px);
    }
    100%
    {
        transform: translate(2100px, -1000px);
    }
}
.ghost2
{
    position: absolute;
    bottom: -100px;
    right: -10px;
    animation: move-ghost2 10s linear infinite;
}
@keyframes move-ghost2 
{ 
    2%
    {
        transform: translate(0,0);
    }
    100%
    {
        transform: translate(-2000px, -1000px);
    }
}